
@{
    ViewBag.Title = "Contacts";
}

<h1>Contact Quackit</h1>

<p>
    I appreciate any feedback you have about the website. You can contact me by sending an email to:


    Unfortunately, due to the amount of email I receive, I'm unable to respond to all emails.
</p>


