
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p align="justify" style="color:antiquewhite; margin-top:20px;font-size:22px;"  >
        A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or made into biopharmaceutical medications by a 
        
       process called fractionation (separation of whole-blood components). Donation may be of whole blood, or of specific components directly (the latter called apheresis).
        Blood banks often participate in the collection process as well as the procedures that follow it.

        Today in the developed world, most blood donors are unpaid volunteers who donate blood for a community supply. In some countries, established supplies are limited and

        donors usually give blood when family or friends need a transfusion (directed donation). Many donors donate as an act of charity, but in countries that allow paid donation some donors are paid, and in some cases there are incentives other than money such as paid time off from work. Donors can also have blood drawn for their own future use (autologous donation). 
        is relatively safe, but some donors have bruising where the needle is inserted or may feel faint.
    </p>


